<% provide(:title,"Contact") %>
<h1>
    Contact
</h1>
Contact the Ruby on Rails Tutorial about the sample app at the .
<a href="http://www.railstutorial.org/#contact">contact page</a>.
To get help on this sample app, see the
<a href="http://www.railstutorial.org/book"><em>Rails Tutorial</em></a>.

